<div class="mt-4">
  <% unless account_signed_in? %>
    <div class="row">
      <div class="col">
        <p class="h5">Trending Today</p>
      </div>
    </div>

    <div class="row">
      <% @trending_posts.each do |post| %>
        <div class="col-sm-3">
          <div class="card" style="height: 100px;">
            <div class="card-body p-2 d-flex flex-column">
              <% if post.community %>
                <h6 class="card-title mb-1" style="font-size: 0.9rem;">
                  <%= link_to post.title, community_post_path(post.community, post), class: "text-decoration-none" %>
                </h6>
              <% else %>
                <h6 class="card-title mb-1" style="font-size: 0.9rem;"><%= post.title %></h6> 
              <% end %>
              <p class="card-text small text-muted mb-0" style="font-size: 0.75rem;">
                <%= truncate(post.body, length: 120, separator: ' ') %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col">
      <div class="h5">Recent posts</div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div class="col-4">
      <p class="h5">Up and coming communities</p>
      <div class="card">
        <div class="list-group list-group-flush">
          <% @communities.each do |community| %>
            <div class="list-group-item">
              <%= link_to community.name, community, class: "text-decoration-none" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to "View all", communities_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
