<div class="row mt-5">
  <div class="col-sm-8">
    <%= render partial: "posts/list", locals: { posts: @posts } %>
  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <div class="d-flex align-items-center gap-2 mb-2">
      <p class="m-0">@<%= @profile.username %></p>
      <div class="d-flex align-items-center">
        <img src="/karma.svg" class="karma-icon">
        <span class="text-muted fs-8"><%= @profile.karma %></span>
      </div>
    </div>
      <p class="text-muted"><small><%= @profile.bio %></small></p>
    <p>Cake day: <%= @profile.created_at.strftime("%B %d, %Y") %></p>
  </div>
</div>

<style>
  .karma-icon{
    height: 1.3em
  }
</style>