<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <p class="h3 m-0">
      <%= link_to root_path, class: "text-decoration-none fw-semibold d-flex align-items-center" do %>
        <%= image_tag "/icon.svg", alt: "Freddit Logo", width: 24, height: 24, class: "me-2" %>
        Freddit
      <% end %>
    </p>
    <div class="d-flex align-items-center gap-3">
      <% if account_signed_in? %>
        <div class="d-flex align-items-center karma">
          <img src="/karma.svg" class="karma-icon">
          <%= current_account.karma %>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_account.full_name %>
          </a>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <!-- Profile Link -->
            <%= link_to profile_path(current_account.username), class: "dropdown-item" do %>
              <%= image_tag "/user.svg", class: "me-2", width: "20" %> Profile
            <% end %>

            <!-- Settings Link -->
            <%= link_to edit_account_registration_path, class: "dropdown-item" do %>
              <%= image_tag "/settings.svg", class: "me-2", width: "20" %> Settings
            <% end %>

            <!-- Sign Out Link (with Turbo method and danger styling) -->
            <%= link_to destroy_account_session_path, 
                        data: { "turbo-method": :delete }, 
                        class: "dropdown-item text-danger" do %>
              <%= image_tag "/logout.svg", class: "me-2", width: "20" %> Sign out
            <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>

<style>
  .karma-icon {
    height: 1.5em;
  }
</style>